@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap");

@import "tailwindcss";

@theme {
  --color-theme: #5d2f8b;
  --color-theme-alt: #4c1d7a;
  --color-theme-white: #ffffff;
  --color-theme-black: #000000;
  --color-theme-light: #dedede;
  --color-theme-dark: #222222;
  --color-theme-w-alt: #efefef;
  --font-main: "Roboto", serif;
  --font-main-alt: "Ysabeau SC", serif;
  --text-s: 0.85rem;
  --text-vs: 0.75rem;
}
